<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Control clientes</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">Inicio</a>
        </li>
      </ul>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <li class="fas fa-user"></li>
          Bienvenido
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" routerLink="/configuracion">
              <li class="fa fa-cog"></li>
              Configuración</a
            >
          </li>
        </ul>
      </li>
    </div>
  </div>
</nav>