<header id="main-header" class="py-2 bg-info text-white">
  <div class="container"></div>
  <div class="row">
    <div class="col-md-6">
      <h1>
        <li class="fas fa-cog"></li>
        Control clientes
      </h1>
    </div>
  </div>
</header>
<app-clientes></app-clientes>
